@font-face {
    font-family: "Helvetica";
    src: url('/fonts/helvetica/Helvetica.ttf');
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
.root{
    -fx-background-radius: 8px;
    -fx-background-color: radial-gradient(
            focus-distance 0%,
            center 50% 50%,
            radius 55%,
            #D4D4D4,
            black
    );
}

.header {
    -fx-padding: 48px;
}

.header .label {
    -fx-font-size: 64px;
    -fx-font-family: "Helvetica";
}

.dialog-pane {
    -fx-font-family: "Verdana";
    -fx-font-size: 16px;
    -fx-background-color: white;

}

.dialog-pane .button {








     -fx-shape: "M1031.46 2.5L1176.46 147.5L1031.46 292.5H148.535L3.53516 147.5L148.535 2.5H1031.46Z";
     -fx-background-color: transparent;
     -fx-border-color: black;
     -fx-padding: 10 20 10 20;
     -fx-text-fill: black;
     -fx-font-size: 14px;
     -fx-cursor: hand;
     -fx-min-height: 40px;
     -fx-max-height: 40px;



}



.white .header-q  {
    -fx-border-color: white;
}

.white .label {
    -fx-text-fill: white;
}

.header-q {
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-max-width: 64px;
    -fx-max-height: 64px;

    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-style: solid;

    -fx-font-size: 56px;
    -fx-font-weight: bold;
    -fx-font-family: "Source Sans Pro Bold";
}

.startup-header .label {
    -fx-text-fill: white;
}

.startup-header .header-q{;
    -fx-border-color: white;
}

.box_plot {
    -fx-text-fill: white;
    -fx-text-inner-color: white;
}

.button {
    -fx-padding: 10px 25px; /* top-bottom left-right */
    -fx-font-size: 14px;
    -fx-background-color: black;
    -fx-text-fill: white;

}

.board-button {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-background-color: #262626;
}


.unused-button {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-background-color: transparent;
}

.container {
    -fx-padding: 48px;
}

/*.setup-container {*/
/*    -fx-font-size: 21px;*/
/*}*/

.chart-title {
    -fx-text-fill: white;
}

.axis-label {
    -fx-text-fill: white;
}

.axis {
    -fx-tick-label-fill: white;
}


.label {
    -fx-text-fill: white;        /* Text color */
    /*-fx-font-size: 18px;         !* Font size *!*/
}

.black .label {
    -fx-text-fill: black;
}

.title{
    -fx-font-size: 40px;

}

.logo {

    -fx-font-size: 80px;
}

.table{
    -fx-text-fill: black;
    -fx-text-inner-color:black;

}

.table-view .column-header .label {
    -fx-text-fill: black;
}

.chart-legend .label {
    -fx-text-fill: black;
}

.chart-title{
    -fx-text-fill: white;        /* Text color */
    -fx-font-size: 30px;
}

.table-row-cell {
    -fx-cell-size: 40px;         /* Adjust row height (default is ~24px) */
}

.table-cell {
    -fx-padding: 8px;            /* Space inside each cell */
    -fx-font-size: 16px;         /* Font size inside the cells */
}

.menu-button {
    -fx-shape: "M1031.46 2.5L1176.46 147.5L1031.46 292.5H148.535L3.53516 147.5L148.535 2.5H1031.46Z";
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-padding: 10 20 10 20;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.menu-button.small {
    -fx-padding: 5 15 5 15;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-font-size: 12px;
}

.menu-button.white {
    -fx-border-color: white;
    -fx-text-fill: white;
}

.menu-button:focused {
    -fx-font-weight: bold;
}


.menu-button:selected {
    -fx-border-color: dimgrey;
}

.menu-button:hover {
    -fx-border-color: white;
    -fx-font-weight: bold;
}
