@font-face {
    font-family: "Helvetica";
    src: url('/fonts/helvetica/Helvetica.ttf');
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
.root{

    -fx-background-radius: 8px;
    -fx-background-color: radial-gradient(
            focus-distance 0%,
            center 50% 50%,
            radius 55%,
            #D4D4D4,
            black
    );
}

.header {
    -fx-padding: 48px;
    -fx-font-size: 64px;
    -fx-font-family: "Helvetica";
}

.header-q {
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-max-width: 64px;
    -fx-max-height: 64px;

    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-style: solid;

    -fx-font-size: 56px;
    -fx-font-weight: bold;
    -fx-font-family: "Source Sans Pro Bold";
}

.piece-button {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}
.box_plot{
    -fx-text-fill: white;
    -fx-text-inner-color: white;

}

.board-button {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}

.unused-button { }

.container {
    -fx-padding: 48px;
}

.setup-container {
    -fx-font-size: 21px;
}

.chart-title {
    -fx-text-fill: white;
}

.axis-label {
    -fx-text-fill: white;
}

.axis {
    -fx-tick-label-fill: white;
}


.label {
    -fx-text-fill: white;        /* Text color */
    -fx-font-size: 18px;         /* Font size */

}

.title{
    -fx-font-size: 40px;

}

.logo {

    -fx-font-size: 80px;
}

.table{
    -fx-text-fill: black;
    -fx-text-inner-color:black;

}

.table-view .column-header .label {
    -fx-text-fill: black;
}

.chart-legend .label {
    -fx-text-fill: black;
}

.chart-title{
    -fx-text-fill: white;        /* Text color */
    -fx-font-size: 30px;


}