@font-face {
    font-family: "Helvetica";
    src: url('/fonts/helvetica/Helvetica.ttf');
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: url('/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}


.header {
    -fx-padding: 48px;
    -fx-font-size: 64px;
    -fx-font-family: "Helvetica";
}

.header-q {
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-max-width: 64px;
    -fx-max-height: 64px;

    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-style: solid;

    -fx-font-size: 56px;
    -fx-font-weight: bold;
    -fx-font-family: "Source Sans Pro Bold";
}

.piece-button {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}

.board-button { }

.unused-button { }

.container {
    -fx-padding: 48px;
}

.setup-container {
    -fx-font-size: 21px;
}
